:root{
    --primary: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey:  hsl(0, 0%, 20%);
    --dark-grey:  hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%)
}

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--off-black);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    background-color: var(--dark-grey);
    border-radius: 10px;
    font-family: 'inter', sans-serif;
}

.main-img img{
    max-width: 100px;
    border-radius: 50%;
}
.main-description{
    text-align: center;
    margin-top: 3%;
}
.main-description h1{
    font-size: 1.2em;
    color: var(--white);
}
.main-description p{
    font-size: 1em;
    font-weight: 600;
    color: var(--primary);
}
.main-description p:last-child{
    font-size: 0.8em;
    font-weight: 400;
    color: var(--white);
    margin: 6% 0;
}
.main-links{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.link{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--white);
    background-color: var(--grey);
    border-radius: 10px;
}

.attribution { font-size: 11px; text-align: center; opacity: 0.5;}
    .attribution a { color: hsl(228, 45%, 44%); }
